#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
input:focus {
  outline: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.letters {
  padding: 8px;
  width: 260px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: border-color 1s ease;
}
.letters.bordered {
  border-color: black;
}

.letter {
  display: flex;
}

.Bit {
  /* transition: transform 0.15s; */
}
.Bit:hover {
  transform: scale(2);
}

.Palette {
  position: absolute;
  bottom: 2rem;
}
.Palette img {
  width: 20px;
}
